
/************** design for profile field ********************/
.profile-container{
    position: fixed;
    left: 180px;
    right: 0;
    top: 145px;
    width: 60%;
    padding: 10px 50px 0px 360px;
    border-radius: 10px;
}
.inner-profile{
    position: relative;
    background: linear-gradient(90deg, rgba(63,60,99,1) 36%, rgba(125,69,69,1) 71%);
    padding: 20px 50px 50px 35px;
    border-radius: 15px;
}
.profile-image-field{
    position: relative;
    min-width: 50px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-left: 27%;
}
.profile-image-field img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.camera{
    position: relative;
    min-width: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-left: 48%;
    margin-top: -10%;
    position: absolute;
}
.camera img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.camera img:hover{
    opacity: 0.6;
}
#current-profile-user{
    padding-top: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #f2f2f2;
}
.profile-info-field{
    padding: 20px 0 0 12px;
}
.profile-info-field i{
    color: #f2f2f2;
    font-size: 35px;
    padding-top: 10px;
}
#address-icon{
    font-size: 30px;
}
#phone-icon{
    font-size: 28px;
}
#bio-icon{
    font-size: 24px;
}
.bio{
    float: right;
    padding-top: 4.5%;
    color: #f2f2f2;
    font-size: 14px;
    letter-spacing: 0.8px;
}
hr{
    height: 1px;
    border-top: 1px;
    margin-top: 1.5%;
}
/************ modal design *****************/
.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    /*transition: visibility 0s opacity 0.1s;*/
    z-index: 9999;
}
.active{
    visibility: visible;
    opacity: 1;
}
.modal{
    background-color: white;
    width: 25%;
    height: 40%;
    border-radius: 10px;
}
#profile-form .input-field{
    padding: 2% 0 0 12%;
}
#profile-form input{
    margin-top: 7%;
    height: 25px;
    width: 85%;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
}
#profile-form input[type="file"]{
    border: none;
    outline: none;
}
input::placeholder{
    color: gray;
}
.cancelBtn{
    background-color: #ff0066;
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    transform: translate(47px, 35px);
}
.saveBtn{
    background-color: #008ae6;
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 10px 25px;
    cursor: pointer;
    transform: translate(165px, 35px);
}
.saveBtn:hover{
    background-color: #33adff;
}
.cancelBtn:hover{
    background-color: #ff4d94;
}

