
/******************* design for searchbar ***********************************/
.search{
    position: fixed;
    width: 21%;
    left: 385px;
    top: 120px;
    margin-bottom: 100px;
    z-index: 9999;
}
.search label{
    position: relative;
    width: 100%;
}
.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding-left: 40px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
}
.search label .fa{
    position: absolute;
    left: 15px;
    top: 3px;
    color: gray;
}
#empty-asset{
    text-align: center;
    opacity: 0.3;
    transform: translateY(240px);
    font-family: 'Ubuntu', sans-serif;
}
input:focus {
  border-color: green;
  box-shadow: 0 0 10px #719ECE;
}
input::placeholder{
    letter-spacing: 1px;
}
#searchBtn{
    cursor: pointer;
    border: none;
}
/******************* design for asset list ***********************************/
.asset-container{
    font-family: 'Ubuntu', sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
    padding: 0 8% 5% 7%;
    transform: translateY(130px);
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 10%;
}
.asset-container .box{
    position: static;
    background: #000;
    padding: 0px 0px 20px;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
    color: white;
}
.box .img-background img{
    object-fit: cover;
    width: 100%;
    height: 200px;
}
.asset-attribute{
    padding-top: 15px;
}
.p-tag{
    text-align: left;
    padding: 1% 5%;
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}
#asset-name{
    padding-top: 2%;
    font-size: 20px;
    letter-spacing: 3px;
}
#asset-desc{
    padding-top: 4px;
    font-size: 14px;
}
#desc-info{
    text-align: left;
    padding: 1% 5%;
    font-size: 12px;
    padding-top: 10px;
}
.asset-info{
    float: right;
}
.p-tag:hover{
    background-color: #222;
}
.interest, .not-interest{
    margin-top: 6px;
    margin-bottom: 6px;
    border: none;
    outline: none;
}
hr{
    height: 1px;
    border-top: 1px;
    margin: 0 15px 0 15px;
    border-color: #4da6ff;
    background-color: #4da6ff;
}
#owner-line{
    background: #0073e6;
}
/**************** design for interest/not-interest ****************/
.interest, .not-interest{
    text-align: center;
    border: none;
    background: black;
    letter-spacing: 1px;
    font-size: 12px;
    outline: none;
}
.total-interest{
    padding-bottom: 5px;
}
.interest{
    color: yellow;
}
.interest:hover{
    color: yellow;
    cursor: pointer;
}
.not-interest{
    color: white;
}
.not-interest:hover{
    color: yellow;
    cursor: pointer;
}
.total-interest{
    font-size: 10px;
    text-align: center;
}