<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block login_title %}{% endblock %}
    {% block reg_title %}{% endblock %}
</head>
{% load static %}
<link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{%static 'sale/css/reg_login.css'%}"/>
<body>
     {% if form.errors %}
        {% if form.username.errors or form.email.errors or form.password1.errors or form.password2.errors %}
            <div class="error-message">
                <b>{{ form.username.errors }}</b>
                <b>{{ form.email.errors }}</b>
                <b>{{ form.password1.errors }}</b>
                <b>{{ form.password2.errors }}</b>
            </div>
        {% endif %}
    {% endif %}
    {% if messages %}
        {% for m in messages %}
            {% if m.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <br><div style="text-align: center;" class="error-message" role="alert">{{m}}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% block login %}{% endblock %}
    {% block registration %}{% endblock %}
</body>
</html>