{% extends "sale/base.html" %}
{% block search_asset_title %}<title>Search Asset</title>{% endblock %}
{% block search_asset %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{%static 'sale/css/search_asset.css'%}"/>
<div class="search">
    <form method="get">
        <label>
            <input name="asset_name" type="text" placeholder="Search Asset-Name">
            <button id="searchBtn" type="submit"><i id="search-icon" class="fa fa-search" style="font-size:17px"></i></button>
        </label>
    </form>
</div>
{% if all_asset %}
    <div class="asset-container">
        {% for asset in all_asset %}
            <div id="asset-box" class="box">
                <div class="img-background">
                    <img src="{{asset.image.url}}">
                </div>
                <h3 id="asset-name">{{asset.name}}</h3>
                <div class="asset-attribute">
                    <p class="p-tag" id="owner">Owner<span class="asset-info">{{asset.owner}}</span></p><hr id="line">
                    <p class="p-tag">Price<span class="asset-info">{{asset.price}}$</span></p><hr>
                    <p class="p-tag">Release-Date<span class="asset-info">{{asset.created_at|date:"M d, Y"}}</span></p><hr>
                    <p class="p-tag">Total-Interest
                        <span class="total-interest" id="interest-asset{{asset.id}}">
                            {% if asset.interested_user.all.count > 0 %}
                                {{asset.interested_user.all.count}}
                            {% else %}
                                - - -
                            {% endif %}
                        </span>
                    </p><hr>
                    <p class="p-tag">Details
                        <span class="asset-info">
                                <a id="view-details" href="{% url 'sale:asset_details' asset.id %}">View Here</a>
                        </span>
                    </p><hr>
                </div>
                <!--- to submit form when its clicked ---->
                <form class="interest-form" id="form{{asset.id}}">
                    {% csrf_token %}
                    <input name="interest" type="hidden" value="{{asset.id}}">
                    <div id="input{{asset.id}}" class="interest-info">
                        {% if user in asset.interested_user.all %}
                            <input onclick="getInterest(this.id)" id="{{asset.id}}" type="submit" value="*** Interested-In ***" class="interest"/>
                        {% else %}
                            <input onclick="getInterest(this.id)" id="{{asset.id}}" type="submit" value="*** Interested-In ***" class="not-interest"/>
                        {% endif %}
                    </div>
                </form>
            </div>
        {% endfor %}
    </div>
{% else %}
    <h1 id="empty-asset">No Available Asset</h1>
{% endif %}
<script>
    window.post_url = "{% url 'sale:interest' %}";
    window.get_url = "{% url 'sale:search_asset' %}";
</script>
<script src="{% static 'sale/js/search_asset.js' %}"></script>
{% endblock %}