{% extends "sale/base.html" %}
{% block search_stock_title %}<title>Search Asset</title>{% endblock %}
{% block search_stock %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{%static 'sale/css/search_asset.css'%}"/>
<div class="search">
    <form method="get">
        {% csrf_token %}
        <label>
            <input name="asset_name" type="text" placeholder="Search Asset-Name">
            <i id="search-icon" class="fa fa-search" style="font-size:17px"></i>
        </label>
    </form>
</div>
{% if all_asset %}
    <div class="asset-container">
        {% for i in all_asset %}
            <div class="box">
                <div class="img-background">
                    <img src="{{i.image.url}}" width="390px" height="200px">
                </div>
                <div class="attribute">
                    <h3 id="asset-name">{{i.name}}</h3>
                    <p class="p-tag">Asset-ID<span class="asset-info">{{i.id}}</span></p><hr>
                    <p class="p-tag" id="owner">Owner<span class="asset-info">{{i.owner}}</span></p><hr>
                    <p class="p-tag">Price<span class="asset-info">{{i.price}}$</span></p><hr>
                    <p class="p-tag">Address<span class="asset-info">{{i.address}}</span></p><hr>
                    <p class="p-tag">Phone-Number<span class="asset-info">{{i.phone_number}}</span></p><hr>
                    <p class="p-tag">Release-Date<span class="asset-info">{{i.created_at}}</span></p><hr>
                    <p class="interest" onclick="getInterest(this.id);">*** Interested-In ***</p><hr>
                    <p id="desc-info"><p>{{i.description}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <h1 id="no-asset" >No Matches Result : (</h1>
{% endif %}
<script src="{% static 'sale/js/search_asset.js' %}"></script>
{% endblock %}
