{% extends "sale/base.html" %}
{% block searchUser_title %}<title>Search User</title>{% endblock %}
{% block search_user %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{%static 'sale/css/container.css'%}"/>
<div class="main-container">
    <div id="control-container">
        <div id="first-inner-bar" class="inner-container">
            <h4>Action</h4>
            <p class="">None</p>
        </div>
        <div id="second-inner-bar" class="inner-container">
            <h4>Summary</h4>
            {% if count_users.count > 1 %}
                <p>{{count_users.count}} user{{count_users|pluralize}} are found</p>
            {% else %}
                <p>{{count_users.count}} user{{count_users|pluralize}} is found</p>
            {% endif %}
        </div>
        <div id="third-inner-bar" class="inner-container">
            <h4>Search</h4>
            <div class="search">
                <form method="get">
                    <label>
                        <input name="username" type="text" placeholder="Username">
                        <button id="searchBtn" type="submit"><i id="search-icon" class="fa fa-search" style="font-size:17px"></i></button>
                    </label>
                </form>
            </div>
        </div>
    </div>
    {% if all_users %}
        {% csrf_token %}
        {% for users, address in all_users %}
            <div class="info-container">
                <div class="inner-info-container">
                    <table>
                        <tr>
                            <th></th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>View</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="users-image">
                                    <img src="{{users.profile.image.url}}">
                                </div>
                            </td>
                            <td>{{users.username}}</td>
                            <td>{{users.email}}</td>
                            <td>{{address.address}}</td>
                            <td>
                                <a href="{% url 'sale:asset_owner' users.id %}">{{users.username}}'s Assets</a>
                            </td>
                        </tr>
                    </table>
                    <input class="submitBtn" style="visibility:hidden" type="submit">
                </div>
            </div>
        {% endfor %}
    {% else %}
         <h1 id="empty">No Available User</h1>
    {% endif %}
</div>
<!--<script src="{% static 'sale/js/search_user.js' %}"></script>-->
{% endblock %}
