{% extends "sale/base.html" %}
{% block search_stock_title %}<title>Search Asset</title>{% endblock %}
{% block search_stock %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{%static 'sale/css/search_asset.css'%}"/>
<div class="search">
    <form method="get">
        <label>
            <input name="asset_name" type="text" placeholder="Search Asset-Name">
            <button id="searchBtn" type="submit"><i id="search-icon" class="fa fa-search" style="font-size:17px"></i></button>
        </label>
    </form>
</div>
{% if all_asset %}
    <div class="asset-container">
        {% for asset in all_asset %}
            <div id="asset-box" class="box">
                <div class="img-background">
                    <img src="{{asset.image.url}}">
                </div>
                <div class="attribute">
                    <h3 id="asset-name">{{asset.name}}</h3>
                    <div class="asset-attribute">
                        <p class="p-tag">Asset-ID<span class="asset-info">{{asset.id}}</span></p><hr>
                        <p class="p-tag" id="owner">Owner<span class="asset-info">{{asset.owner}}</span></p><hr id="owner-line">
                        <p class="p-tag">Price<span class="asset-info">{{asset.price}}$</span></p><hr>
                        <p class="p-tag">Release-Date<span class="asset-info">{{asset.created_at}}</span></p><hr>
                    </div>
                    <!--- to submit form when its clicked ---->
                    <form class="interest-form" id="form{{asset.id}}">
                        {% csrf_token %}
                        <input name="interest" type="hidden" value="{{asset.id}}">
                        <div id="input{{asset.id}}" class="interest-info">
                            {% if user in asset.interested_user.all %}
                                <input onclick="getInterest(this.id)" id="{{asset.id}}"
                                       type="submit" value="*** Interested-In ***" class="interest"/>
                            {% else %}
                                <input onclick="getInterest(this.id)" id="{{asset.id}}"
                                       type="submit" value="*** Interested-In ***" class="not-interest"/>
                            {% endif %}
                            {% if asset.interested_user.all.count > 0 %}
                                <p class="total-interest" id="interest{{asset.id}}">
                                    {{asset.interested_user.all.count}} people is interested in this asset
                                </p>
                            {% endif %}
                        </div><hr class="line">
                    </form>
                    <p id="asset-desc"><strong>Description</strong></p>
                    <p id="desc-info">{{asset.description}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <h1 id="empty-asset">No Available Asset</h1>
{% endif %}
<script>
    window.post_url = "{% url 'sale:interest' %}";
    window.get_url = "{% url 'sale:search' %}";
</script>
<script src="{% static 'sale/js/search_asset.js' %}"></script>
{% endblock %}